#map {
    height: 600px;
    margin-top: 20px;
    border: 1px solid #ddd; /* 添加边框以突出地图 */
    border-radius: 8px; /* 添加圆角以提高视觉美感 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加柔和阴影效果 */
}
.info-box {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background: white;
    padding: 20px; /* 保持填充 */
    border: 1px solid #ccc; /* 保持边框 */
    border-radius: 8px; /* 保持圆角 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 优化后的柔和阴影 */
    width: 300px; /* 保持宽度 */
    z-index: 1000; /* 保持层级 */
    font-family: Arial, sans-serif; /* 统一字体 */
    color: #333; /* 确保文字颜色为深色，易于阅读 */
}


.info-box img {
    max-width: 100%;
    width: 100%;
    display: block;
    margin: 10px 0; /* 优化图片上下间距 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 减弱阴影的对比度 */
    border: 1px solid #ccc;
    border-radius: 4px; /* 为图片添加圆角 */
}
#switch-route {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 10px 20px; /* 保持填充 */
    background-color: #a81b03; /* 保持背景颜色 */
    color: white; /* 保持文字颜色 */
    border: none; /* 保持无边框 */
    border-radius: 5px; /* 保持圆角 */
    cursor: pointer; /* 保持指针 */
    font-family: Arial, sans-serif; /* 统一字体 */
}
#switch-route:hover {
    background-color: #f08484;
    transition: background-color 0.3s; /* 添加过渡效果 */
}

.glowing-line {
    stroke: red;
    stroke-width: 4;
    stroke-opacity: 0.7;
    stroke-linejoin: round;
    animation: glowing 1.5s infinite;
}
@keyframes glowing {
    0% { stroke-opacity: 0.7; }
    50% { stroke-opacity: 1; }
    100% { stroke-opacity: 0.7; }
}