body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3d1d1;
}

#main {
    text-align: center;
    padding-top: 2rem;
}

h1, h2 {
    margin-bottom: 1rem;
}

h3 {
    margin-top: 1rem;
}

p {
    margin-bottom: 1rem;
    color: #555;
}

.navbar-brand {
    font-weight: bold;
}

img.img-fluid {
    border-radius: 5px;
}

#home {
    background-color: #f5f5f5;
}

#members {
    background-color: #f8f9fa;
}

.nav-link {
    margin-right: 1rem;
    font-size: 1.1rem;
}

.footer {
    padding: 1rem;
    background-color: #f8f9fa;
    text-align: center;
}

.container {
    margin-top: 5rem; /* 为了给固定导航栏留出空间 */
}